<!-- page d'accueil -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> <% title %>  </title>
    
</head> 

<body>
    <h1>Accueil !!</h1>
    <p>Bienvenue sur le site de mon API todo-List</p>      
    <p>Documentation de mon API : <a href="/apidoc/index.html">ici</a></p>
    <p>Voir mon Api Custom ici : <a href="/custom-api">/custom-api</a></p>
    <p>tester la connexion google : <a href="http://localhost:3000/auth/google">ici</a></p>
    <p>Me contacter : <a href="/contact.html">contact</a></p>
</html> 